<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="top-bar">
    <h2>Admin Dashboard</h2>
    <a href="/admin/logout" style="float:right;">Logout</a>
</div>

<hr>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user["name"] }} {{ user["surname"] }}</td>
        <td>{{ user["email"] }}</td>
        <td>{{ user["phone"] }}</td>
        
    </tr>
    {% endfor %}

</table>

{% if users|length == 0 %}
<p>No users found</p>
{% endif %}
<hr>

<h3>Password Reset Requests</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>OTP</th>
    </tr>

    {% for r in reset_requests %}
    <tr>
        <td>{{ r["name"] }}</td>
        <td>{{ r["email"] }}</td>
        <td><b>{{ r["otp"] }}</b></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No OTP requests</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
