<!DOCTYPE html>
<html>
<head>
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="auth-page">
    <div class="auth-box">
        <h2>Email Spam Classifier</h2>
        <p>Login</p>

        {% if message %}
<p style="color:red; text-align:center;">
    {{ message }}
</p>
{% endif %}


       <form method="post">
    <input name="email" placeholder="Email" value="{{email_value | default('')}}" required>

    <div style="position: relative;">
        <input id="password" name="password" type="password" placeholder="Password" required>
        <span onclick="togglePassword()" 
              style="position:absolute; right:10px; top:8px; cursor:pointer;">
            👁
        </span>
    </div>

    <button type="submit">Login</button>
</form>

<script>
function togglePassword() {
    var input = document.getElementById("password");
    input.type = input.type === "password" ? "text" : "password";
}
</script>


        <br>
        <a href="/register">New user? Register</a>
        <br><br>
        <a href="/admin">Admin Login</a>
    </div>
</div>

</body>
</html>
